#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Navbar */
.navbar {
  background-color: #121212 !important; /* Dark navy */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Hero Section */
.hero-section {
  background: rgba(83, 82, 91, 0.592);
  padding: 50px 0;
  text-align: center;
}

/* Feature Section */
.features-section {
  background-color: rgba(88, 82, 87, 0.592); 
  
  color: white;
  padding: 50px 0;
}

/* Footer */
.footer {
  background-color: rgb(17, 24, 34); /* Black */
  color: white;
  text-align: center;
  padding: 20px 0;
}
